<div class="top_image">
  <%= image_tag 'warashibe.png', width: '20%', height: '20%' %>
</div>


<% @items.each do |item|%>

<div class="flex-col2">
  <div class="flex-child">
    <%= image_tag item.itemimage.file&.url %>
  </div>
  <div class="flex-child">
    <%= item.name %>
  </div>
</div>
<% end %>

 <%= render "public/homes/login_modal" %>

<%= javascript_include_tag "login.js" %>