<div class="sign-up">
  <div class="container">
    <div class="content left-content">
      <%= image_tag 'warashibe.png', width: '240px', height: '225.9px' %>
    </div>

    <div class="content right-content">
      <%= form_with(model: @user, local: true) do |f| %>
        <%#= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_field :name, :placeholder => "Enter your name...", autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.email_field :email, :placeholder => "Enter your email...", autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.password_field :password, :placeholder => "Create a password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, :placeholder => "Password comfirmation", autocomplete: "new-password" %>
        </div>

        <%= f.submit "登録" %>
      <% end %>
    </div>
  </div>
</div>
